.dropdown {
    background: rgba(127, 118, 255, 0.2);
    border: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.item {
    color: rgb(215, 196, 255);
}

.item:hover {
    background-color: #170c3f
}

.arrow {
    border: none;
}