.chat {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.8rem;
    width: 100%;
    gap: 2rem;
    overflow-y: auto;
    flex: 1;
    padding-bottom: 2rem;

    @media (min-width: 1024px) {
        width: 50%;
        align-self: center;
  }
}

.chat::-webkit-scrollbar{
    width: 0.5em;
}

.chat::-webkit-scrollbar-thumb{
    background-color: #3b1b63;
    border-radius: 15px;
}
