.chat {
    overflow: hidden;
    flex-direction: column-reverse;
    padding: 0.8rem;
    width: 100%;
    gap: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    flex: 1;
    min-height: 0;
    padding-bottom: 2rem;
}


.chat::-webkit-scrollbar{
    width: 0.5em;
}

.chat::-webkit-scrollbar-thumb{
    background-color: #3b1b63;
    border-radius: 15px;

}