.header {
    width: 100vw;
    height: 15%;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    color: #EEDEFF;
    padding-bottom: 2rem;
}

.iconContainer {
    position: relative;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.path {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
    stroke: rgb(108, 63, 255);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;

    transition: opacity 0.5s ease, stroke-dashoffset 0.5s linear;
}

.path:hover {
    opacity: 1;
    stroke-dashoffset: 0;
    filter: drop-shadow(0px 0px 6px rgba(131, 94, 255, 0.8));
    color: rgba(131, 94, 255, 0.8);
}
