.input {
  background-color: rgba(30, 16, 93, 0.3);
  border: 1.5px solid transparent; 
  border-radius: 30px;
  font-size: 1rem;
  padding: 1rem 3rem 1rem 1rem;
  color: #dfd4ff;
  

  &::placeholder {
    color: rgba(49, 28, 121, 0.8)
  }
}

.homeInput {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; 
}

.conversationInput {
  position: absolute;
  bottom: 1rem;
  left: 1rem; 
  right: 1rem;
  z-index: 20;
}

/*
.gradientBorder {

  position: relative;
  

  background: transparent; 
  

  border-radius: 12px; 
  

  z-index: 0;
}

.gradientBorder::before {
  content: "";
  position: absolute;
  inset: 0; 
  
  border-radius: 30px;
  padding: 2px; 
  

  background: linear-gradient(145deg, rgb(44, 4, 84) 0%, rgb(48, 0, 171) 100%);
  

  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
          

  pointer-events: none; 
}

*/

.section {
  background-color: transparent;
  color: rgba(49, 28, 121, 0.8);
  margin-right: 0.5rem;
}

.input::-webkit-scrollbar{
  width: 0.2em;
}

.input::-webkit-scrollbar-thumb{
  background-color: #51169e;
  border-radius: 15px;
}
