*, *::before {
  box-sizing: border-box;
}

.markdown {
  width: 100%;
  word-break: break-word;
}

.markdown > *:first-child {
  margin-top: 0;
}

.markdown > *:last-child {
  margin-bottom: 0;
}

.markdown li {
  margin-bottom: 0.8rem;
}

.markdown li:last-child {
  margin-bottom: 0;
}

/* lists */
.markdown ul, .markdown ol {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.message {
  color: #d7c4ff;
  max-width: fit-content;
  padding: 1rem;
  background: rgba(127, 118, 255, 0.1);
  border-radius: 30px;
  font-size: 1rem;
  animation: message 0.15s ease-out 0s forwards;
  transform-origin: 0 100%;
  transform: scale(0);

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}

.loader {
  width: 1.5rem;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,#4E2B71 90%, transparent);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

.avatar {
  align-self: flex-end;
}

@keyframes message {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    padding-top: 1rem;
  }
}

.user {
    border-bottom-right-radius: 0px;

    

}

.ai {
    border-bottom-left-radius: 0px;
    

}