.chat {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.loadingContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgb(40, 6, 69);
}