.container {
    height:100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}