.content {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 10px 10px transparent;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    mask-image: linear-gradient(90deg, black 85%, transparent 100%);
}

.body {
    display: flex;
    flex-direction: column;
    margin: 0rem 0.5rem;
}

.header {
    background-color: transparent;
    color: #dfd4ff;
    margin: 0rem 0.5rem;
}

.content::-webkit-scrollbar{
    width: 0.3em;
}

.content::-webkit-scrollbar-thumb{
    background-color: rgba(44, 0, 125, 0.7);
    border-radius: 15px;
}