.container {
    width: 50%;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background: rgba(0, 0, 0, 0.379);
    color: #dfd4ff;
    border: none;
    border-radius: 15px;
    padding: 2rem 1rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.fieldset {
    width: 100%;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid rgba(223, 212, 255, 0.8); 
    color: rgba(223, 212, 255, 0.8);
}

.input::placeholder {
    color: rgba(223, 212, 255, 0.8);
    
}

.button {
    background-color: rgba(68, 32, 130, 0.7);
    transition: background-color 0.1s ease-in-out;
}

.button:hover {
    background-color: rgba(47, 22, 90, 0.7);
}

.visibilityToggle {
    color: rgba(223, 212, 255, 0.8)
}

.visibilityToggle:hover {
    background-color: transparent;
    color: rgba(172, 155, 222, 0.8)
}

.required {
    color: blueviolet
}

.dropdown {
    background-color: #dfd4ff;
    border: none;
}